<!DOCTYPE html>
<html lang="en">
<title> Super Geocoder </title>
<head>
  <link href="../static/main.css" rel="stylesheet">
</head>
  <body>
    <div class="container">
      <h1>Super Geocoder</h1>
      <h3>Please upload your CSV file. The values containing addresses should be in a column named <em>address</em> or <em>Address</em></h3>
        <form action="{% url 'success_table' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" accept=".csv" name="file" />
          <button type="submit"> Submit </button>
        </form>
      <div class="output">
        {{ text|safe }}
        {% if test_false %}
        {% include "download.html" %}
        {% endif %}
      </div>
  </div>
  </body>
</html>
